.accept {
    color: green
}

.container {
    background-color: rgb(255,250,205);
    color: black;
    text-align: center;
    font-size: 12px;
    width: 140px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.request {
    color: green;
}

.withdraw {
    color: red
}